<!DOCTYPE html>
    <link rel="stylesheet" href="/css/chat-box.css">
<html>

<head>
    <%- include('partials/header') %>
</head>

<body>
    <div id="wrapper">
        <%- body %>
    </div>
    <%- include('partials/chat-box') %> 
    <%- include('partials/chat-ai') %>
    <%- include('partials/footer') %>
</body>

</html>
